.pokemonDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    color: #fff;
    background-color: var(--gray-700);
    padding: 2rem;
    border-radius: 8px;
    margin: 0 1.5rem;
}

.pokemonDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemonDetailsContent h1 {
    padding: 2rem;
}

.PokemonDetailsForm {
    display: flex;
    align-items: center;
    gap: 2rem;
}