.pokemonListContainer h1 {
    font-size: 1.5rem;
    padding: 3rem;
    color: #FFF
}

.pokemonListContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 5rem;
}

.pokemonListContainer ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
    width: 13rem;
    border-radius: 8px;

    background-color: var(--gray-700);
}