:root { 
    --gray-300: #c4c4cc;
    --gray-700: #29292e;
    --gray-800: #202024;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

body {
    background: var(--gray-800);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

input {
    border: none;
    border-radius: 4px;
    height: 1.5rem;
    width: 8rem;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
  }